.search-bar {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.search-bar form {
    display: flex;
    flex-direction: column;

}

.search-bar button {
    margin-top: 5px;
    width: 10%;

}